#!/usr/bin/env bash

# add ~/bin to path
PATH=/usr/bin:/bin:/usr/sbin:/sbin
PATH=/usr/local/bin:/usr/local/sbin:"$PATH"
PATH=/opt/local/bin:/opt/local/sbin:"$PATH"
export PATH

# prefer US English & utf-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty)

# brew
PATH=$PATH:/opt/homebrew/bin

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8'

# fzf
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
export FZF_DEFAULT_COMMAND='rg --files --hidden --follow --smart-case --glob "!.git/*" --glob "!node_modules/*"'

# graalvm
export GRAALVM_HOME=/Library/Java/JavaVirtualMachines/graalvm-ce-java17-22.3.1/Contents/Home/
export PATH=${GRAALVM_HOME}/bin:$PATH
export JAVA_HOME=${GRAALVM_HOME}

#go
export GOPATH=$(go env GOPATH)
export PATH=$PATH:$(go env GOPATH)/bin
